/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: monospace, sans-serif;
    font-size: 11px;
}

body, *, .custom-cursor {
    cursor: crosshair;
}

header {
    position: absolute;
    align-items: top;
    display: flex;
    top: 15vh;
    right: 5vw;
    margin: 0px;
    transform: rotate(90deg);
    z-index: 4;
}

footer {
    position: absolute;
    bottom: 10px;
    right: 5vh;
}

button {
    background-color: white;
    border-radius: 2px;
    padding: 10px;
    border: 0.2px solid rgba(0, 0, 0, 0.2);
    z-index: 999;
}

/* Menu */

#toggle {
  display: none;
}

.hamburger {
  position: absolute;
  top: 5vh;
  right: 5vh;
  width: 1.5em;
  height: 30px;
  background-color: white;
  border-radius: 2px;
  padding-top: 2px;
  padding-left: 8px;
  padding-right: 8px;
  border: 0.2px solid rgba(0, 0, 0, 0.2);
  z-index: 999;
}

.hamburger div {
  position: relative;
  width: 1.5em;
  height: 0.2em;
  border-radius: 0px;
  background-color: #000;
  margin-top: 5px;
  transition: all 0.3s ease-in-out;
}

.nav {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.7;
  top: 0; left: 0; right: 0; bottom: 0;
  overflow: hidden;
  text-align: left;
  padding-left: 0px;
  transition: all 0.3s ease-in-out;
  transform: scale(0);
  z-index: 5;
}

.nav-wrapper {
  position: relative;
  overflow: hidden;
  overflow-y: auto;
  height: 100%;
  margin-top: 15%;
  margin-left: 5%;
}

nav a {
  position: relative;
  text-decoration: none;
  color: #fff;
  font-size: 1.5em;
  display: inline-block;
  margin-top: 4.5em;
  transition: color 0.2s ease-in-out;
  letter-spacing: 1px;
}
nav a:before {
  content: '';
  height: 0;
  position: absolute;
  width: 0.25em;
  background-color: white;
  left: -0.5em;
  transition: all 0.2s ease-in-out;
}
nav a:hover {
  color: white;
}
nav a:hover:before {
  height: 100%;
}

/* Menu Animations */

#toggle:checked + .hamburger .top-line {
  transform: rotate(-40deg);
  margin-top: 10px;
}

#toggle:checked + .hamburger .middle-line {
  transform: rotate(40deg);
  margin-top: -2px;
}

#toggle:checked + .hamburger .bottom-line {
    opacity: 0;
  transform: rotate(45deg);
}

#toggle:checked + .hamburger + .nav {
  top: 0;
  transform: scale(1);
}

/* Gallery container */
.gallery-container {
    position: relative;
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    width: 100vw;
    height: 100vh;
}

/* Gallery item */
.gallery-item {
    flex: 0 0 80%;
    scroll-snap-align: start;
    min-width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

/* Images in the gallery */
.gallery-item img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

/* Captions */
.caption {
    position: absolute;
    top: 50vh;
    right: 25vh;
    background-color: rgba(0, 0, 0, 0.1);
    color: black;
    border: 1px solid black;
    box-shadow: 2px 2px 4px;
    transition: transform 0.3s, opacity 0.3s;
    transform: translateY(50%);
    opacity: 0;
    padding: 20px;
    text-align: left;
    box-sizing: border-box;
}

.caption .caption-text {
    display: none; /* Initially hide caption text */
}

.gallery-item:hover .caption {
    transform: translateY(0);
    opacity: 1;
}

.gallery-item:hover .caption .caption-text {
    display: block; /* Show caption text on hover */
}

.caption-button {
    position: absolute;
    top: 70vh;
    right: 30vh;
    color: #007BFF;
    cursor: pointer;
    background-color: white;
    transition: transform 0.3s;
}

.caption-button:hover + .gallery-item .caption .caption-text {
    display: none; /* Hide captions when the button is hovered */
}


/* Navigation arrows */

.prev-arrow {
    position: absolute;
    right: 5.5vh;
    top: 46vh;
    transform: translateY(-50%);
    cursor: pointer;
}

.prev-arrow:hover {
    background-color:#007bff;
}

.next-arrow {
    position: absolute;
    right: 5.5vh;
    top: 55.5vh;
    transform: translateY(-50%);
    cursor: pointer;
}

.next-arrow:hover {
    background-color:#007bff;
}

/* Counter */
.counter {
    position: absolute;
    top: 49vh;
    right: 5vh;
}



/* Bullets */
.bullet-container {
    position: absolute;
    top: 50vh; /* Adjust positioning */
    right: 5vw;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column; /* Change to vertical direction */
}

.bullet {
    width: 10px;
    height: 10px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid black;
    border-radius: 0%;
    margin: 5px 0; /* Adjust margin */
    cursor: pointer;
}
.bullet.active {
    background-color: #007bff; /* Change this to your desired active color */
}


/* MODEL VIEWER*/
.modelViewer {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex; /* Use flexbox for layout */
    justify-content: flex-end; /* Align buttons to the right side */
    align-items: flex-start; /* Align buttons to the top */
}

.thumb-container {
    position: absolute;
    top: 50vh; /* Adjust the top position as needed */
    right: 5vw; /* Adjust the right position as needed */
    display: flex;
    flex-direction: column; /* Arrange buttons in a column */
    gap: 10px; /* Adjust the gap between buttons as needed */
    z-index: 999; /* Ensure the buttons appear above other content */
    /* Add your button container styles here, e.g., background color, padding, etc. */
}

.thumb {
    top: 50vh;
    right: 5vw;
    background-color: white;
    width: 40px;
    height: 40px;
    object-fit: contain;
    padding: 0px;
}

