/* GENERAL */
body {
    font-family: monospace, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

body, *, .custom-cursor {
    font-family: "Courier New", Courier, monospace;
  cursor: display;
}


header {
    color: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    right: calc(10% - 60px); /* Center horizontally */
    top: calc(35% - 10px); /* Center vertically */
}

.custom-cursor {
           position: fixed;
           width: 20px;
           height: 20px;
           border-radius: 0%;
           background-color: rgba(100, 60, 30, 0.8); /* Default color (red with 50% opacity) */
           pointer-events: none;
           transform: translate(-50%, -50%);
           mix-blend-mode: difference; /* Make cursor visible over any background */
       }


/*MENU*/

.menu-btn {
   /* cursor: pointer; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    margin-right: 0px;
    padding:20px;
    z-index: 999;
}

.bar {
    background-color: #000;
    height: 1px;
    width: 30px;
    transition: 0.4s;
}

.navbar {
    display: none;
    background-color: #fff;
    opacity: 0.8;
    position: absolute;
    top: 60px;
    right: 0;
    width: 200px;
    height: 200px;
    transition: 0.5s;
    z-index: 999;
    
}

.navbar.active {
    display: block;
    top: 0px;
    right: 120px;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar li {
    margin: 10px 0;
    padding-left: 20px;
}

.navbar a {
    text-decoration: none;
    color: #000;
    font-size: 13px;
}

/* Add styles for the cross icon when the menu is active */
.menu-btn.active .bar:nth-child(1) {
    transform: rotate(0deg) translate(-10px, 0px);
}

.menu-btn.active .bar:nth-child(2) {
    opacity: 0;
}

.menu-btn.active .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -5px);
}




/*CONTENT*/

.content {
    padding: 0px;
}

.pageHeader {
    position: absolute;
    top: 20px;
    right:calc(10% - 50px);
    z-index: 999;
}

.pageFooter {
    position: absolute;
    right: calc(10% - 50px);
    bottom: 35vh;
}




/* MODEL VIEWER */
.modelViewer {
    position: absolute;
    top: 20%;
    left: 40%;
}

.modelViewer-btn{
    position: relative;
    top: 25vh;
    }

@media (max-width: 768px) {
    .modelViewer {
        position: absolute;
        top: 200px;
        left: 0px;
    }
    
    .modelViewer-btn {
        position: relative;
        left: 0px;
        top: 10vh;
    }
}
    
/* GALLERY VIEWER*/
/* Gallery container */
.gallery-container {
    position: absolute;
    right: calc(10% - 50px);
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    width: 100%; 
}

/* Gallery item */
.gallery-item {
    flex: 0 0 90%;
    scroll-snap-align: start;
    min-width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

/* Images in the gallery */
.gallery-item img {
    max-width: 30%;
    max-height: 30%;
    object-fit: contain;
}

/* Navigation arrows */
.prev-arrow,
.next-arrow {
    /* position: absolute; */
    position: absolute;
    top: 500px; /* 50% */
    right: calc(10% - 50px);
    transform: translate(-50%,-50%);
    width: 40px;
    height: 40px;
   /* background-color: rgba(0, 0, 0, 0.5); */
    color: #000;
    text-align: right;
    line-height: 40px;
    cursor: pointer;
}

.prev-arrow {
    left: 10px;
}

.next-arrow {
    right: 10px;
}

/* Bullets */
.bullet-container {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.bullet {
    width: 10px;
    height: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.bullet.active {
    background-color: #007bff; /* Change this to your desired active color */
}


/* Counter */
.counter {
    position: absolute;
    top: 55%;
    right: calc(10% - 50px);
   /* background-color: rgba(0, 0, 0, 0.5); */
    color: #000;
    padding: 5px 10px;
    border-radius: 5px;
}


