/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: monospace, sans-serif;
    font-size: 11px;
}
header {
    position: absolute;
    display: flex;
    top: 10vh;
    right: 5vw;
    margin: 0px;
    z-index: 4;
}

footer {
    position: absolute;
    bottom: 10px;
    right: 5vh;
}

/* Menu */

#toggle {
  display: none;
}

.hamburger {
  position: absolute;
  bottom: 5vh;
  right: 5vh;
  width: 1.5em;
  height: 25px;
  background-color: white;
  border-radius: 2px;
  padding-top: 2px;
  padding-left: 8px;
  padding-right: 8px;
  border: 0.2px solid rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  z-index: 999;
}

.hamburger div {
  position: relative;
  width: 1.5em;
  height: 1px;
  border-radius: 0px;
  background-color: #000;
  margin-top: 5px;
  transition: all 0.3s ease-in-out;
}

.nav {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.7;
  top: 0; left: 0; right: 0; bottom: 0;
  overflow: hidden;
  text-align: left;
  padding-left: 100vh;
  transition: all 0.3s ease-in-out;
  transform: scale(0);
  z-index: 5;
}

.nav-wrapper {
  position: relative;
  overflow: hidden;
  overflow-y: auto;
  height: 100%;
  margin-top: 15%;
  margin-left: 5%;
}

nav a {
  position: relative;
  text-decoration: none;
  color: #fff;
  font-size: 1.5em;
  display: inline-block;
  margin-top: 4.5em;
  transition: color 0.2s ease-in-out;
  letter-spacing: 1px;
}
nav a:before {
  content: '';
  height: 0;
  position: absolute;
  width: 0.25em;
  background-color: white;
  left: -0.5em;
  transition: all 0.2s ease-in-out;
}
nav a:hover {
  color: white;
}
nav a:hover:before {
  height: 100%;
}

/* Menu Animations */

#toggle:checked + .hamburger .top-line {
  transform: rotate(-45deg);
  margin-top: 11px;
}

#toggle:checked + .hamburger .middle-line {
  transform: rotate(45deg);
  margin-top: 0px;
}

#toggle:checked + .hamburger .bottom-line {
    opacity: 0;
  transform: rotate(45deg);
}

#toggle:checked + .hamburger + .nav {
  top: 0;
  transform: scale(1);
}
/* Gallery container */
.gallery-container {
    position: relative;
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    width: 100vw;
    height: 100vh;
}

/* Gallery item */
.gallery-item {
    flex: 0 0 100%;
    scroll-snap-align: start;
    min-width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Images in the gallery */
.gallery-item img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

/* Navigation arrows */
.prev-arrow,
.next-arrow {
    position: absolute;
    transform: translateY(-50%);
    cursor: pointer;
    font: 12px;
}

.prev-arrow {
    right: 5.5vh;
    top: 46vh;
}

.next-arrow {
    right: 5.5vh;
    top: 54vh;
    
}

/* Counter */
.counter {
    position: absolute;
    top: 49vh;
    right: 5vh;
}

/* Bullets */
.bullet-container {
    position: absolute;
    top: 50vh; /* Adjust positioning */
    right: 5vw;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column; /* Change to vertical direction */
}

.bullet {
    width: 10px;
    height: 10px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid black;
    border-radius: 0%;
    margin: 5px 0; /* Adjust margin */
    cursor: pointer;
}
.bullet.active {
    background-color: #007bff; /* Change this to your desired active color */
}


/* MODEL VIEWER */
.modelViewer {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex; /* Use flexbox for layout */
    justify-content: flex-end; /* Align buttons to the right side */
    align-items: flex-start; /* Align buttons to the top */
}

.thumb-container {
    position: absolute;
    bottom: 10vh; /* Adjust the top position as needed */
    right: 5vw; /* Adjust the right position as needed */
    display: flex;
    flex-direction: column; /* Arrange buttons in a column */
    gap: 10px; /* Adjust the gap between buttons as needed */
    z-index: 999; /* Ensure the buttons appear above other content */
    /* Add your button container styles here, e.g., background color, padding, etc. */
}

.thumb {
    top: 50vh;
    right: 5vw;
    background-color: white;
    width: 40px;
    height: 40px;
    object-fit: contain;
    padding: 0px;
}

/*Email*/
.lightbox-container {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.7);
            justify-content: center;
            align-items: center;
            z-index: 999;
        }

        .container {
            max-width: 400px;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #f5f5f5;
        }

        .form-group {
            margin-bottom: 20px;
        }

        label {
            display: block;
            margin-bottom: 5px;
        }

        input[type="text"],
        input[type="email"],
        textarea {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 3px;
        }

        button[type="submit"] {
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 3px;
            padding: 10px 20px;
            cursor: pointer;
        }

        button[type="submit"]:hover {
            background-color: #0056b3;
        }
