body {
    margin: 0;
    overflow: hidden;
}

#gallery-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
    position: relative;
}

#gallery-wrapper {
    display: flex;
    flex-direction: row; /* Horizontal layout */
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    width: 100%;
    height: 100%;
    z-index: 0; /* Add this line to ensure it's behind the arrows */
}

.gallery-image {
    max-width: 100%;
    max-height: 100vh;
    object-fit: contain;
    scroll-snap-align: start;
}

#counter {
    position: absolute;
    bottom: 10px;
    right: 1%;
    transform: translateX(-50%);
    color: #000;
    font-size: 18px;
    z-index: 1; /* Ensure the counter is above the arrows */
}

#nav-arrows {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
    z-index: 2; /* Ensure the arrows are above the counter */
}

.arrow {
    color: #000;
    font-size: 24px;
    cursor: pointer;
}

