/* Reset some default styles */
body, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Style the header and navigation */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar {
    display: none;
}


#navbar ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#navbar li {
    margin: 10px 0;
}

#navbar a {
    color: #fff;
    text-decoration: none;
}

.menu-btn {
    font-size: 24px;
    cursor: pointer;
    display: none;
}
