body {
    margin: 0;
    font-family: 'SF Mono', 'Menlo', 'Consolas', 'Liberation Mono', 'Courier New', monospace;
    background-color: white;
    font-size: 13px;
    line-height: 1.6; /* Adjust the line height as needed */
    overflow: hidden;
}

.container {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
}

.top-bar, .bottom-bar {
    width: 100%;
    padding: 20px;
    padding-right: 100px;
    display: flex;
    border-top: black 1px solid;
    border-bottom: black 1px solid;
    justify-content: flex-end;
}


button {
    padding: 10px 10px;
    margin: 20px;
    font-size: 12px;
    cursor: pointer;
    font-family: 'SF Mono', 'Menlo', 'Consolas', 'Liberation Mono', 'Courier New', monospace;
    border: none;
    background-color: #fff;
    color: #000;
    border-radius: 1px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease;
}

button:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.5);
}

.vertical-line {
    width: 1px;
    height: 100%;
    background-color: blue;
    position: absolute;
    left: 30%;
    top: 0;
    transform: translateX(-50%);
    z-index: 1;
}

.timeline-container {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: right;
    overflow-y: scroll;
    scroll-behavior: smooth;
    box-sizing: border-box;
    padding: 0px;
    height: calc(60vh - 50px); /* Adjust for top and bottom bars */
}

.timeline-event {
    position: relative;
    width: 40%;
    padding: 2vw;
    margin: 20px 3vw;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.timeline-event::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: blue;
    border-radius: 50%;
    left: -7.5px;
    top: 20px;
}

.timeline-event.left::before {
    left: auto;
    right: -7.5px;
}

.timeline-event.right {
    align-self: flex-end;
}

.timeline-event.right::before {
    left: auto;
    right: -7.5px;
}

.text-content {
    display: flex;
    width: 100%;
    justify-content: left;
    align-items: left;
    padding: 20px;
    line-height: 1.6; /* Adjust the line height as needed */
    height: calc(20vh - 50px); /* Adjust for top and bottom bars */

}


.gallery {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
    height: calc(100vh - 100px); /* Adjust for top and bottom bars */
    width: 50%;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}
.gallery img {
    max-width: 100%;
    margin: 0px 0;
    filter: grayscale(100%);
    transition: filter 0.3s; /* Smooth transition for hover effect */
}

.gallery img:hover {
    filter: grayscale(0%);
}



@media only screen and (max-width: 768px) {

}
