/* GENERAL */
body {
    font-family: monospace;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top; /* Center the image vertically */
    min-height: 100vh; /* Ensure the background covers the full height */
}

body, *, .custom-cursor {
    cursor: display;
}


header {
    color: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: right;
    position: absolute;
    right: 3vw;
    top: 65vh;
    z-index: 999;
}


.custom-cursor {
    position: fixed;
    width: 20px;
    height: 20px;
    border-radius: 0%;
    background-color: #007bff;; /*  Default color (red with 50% opacity) */
    pointer-events: none;
    transform: translate(-50%, -50%);
    mix-blend-mode: normal; /* Make cursor visible over any background */
}

footer{
    position: absolute;
    bottom: 10px;
    right: 5vh;
}

/*MENU*/

.menu-btn {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    margin-right: 0px;
    padding:20px;
    z-index: 999;
    
}

.bar {
    background-color: #000;
    height: 1px;
    width: 30px;
    transition: 0.4s;
}

.navbar {
    display: none;
    background-color: #fff;
    opacity: 0.8;
    position: flex;
    top: 0px;
    right: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    z-index: 999;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    
}

.navbar.active {
    display: block;
    top: 0px;
    right: 120px;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar li {
    margin: 30px 0;
    padding-left: 30px;
}

.navbar a {
    text-decoration: none;
    color: #000;
    font-size: 11px;
}

/* Add styles for the cross icon when the menu is active */
.menu-btn.active .bar:nth-child(1) {
    transform: rotate(0deg) translate(-10px, 0px);
}

.menu-btn.active .bar:nth-child(2) {
    opacity: 0;
}

.menu-btn.active .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -5px);
}




/*CONTENT*/

.content {
    padding: 0px;
}

.title1 {
    position: absolute;
    right: 5vw;
    top: 15vh;
    z-index: 999;
}

h2 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


/* MODEL VIEWER */
.modelViewer {
    position: absolute;
    top: 20%;
    left: 40%;
}

.modelViewer-btn{
    position: relative;
    top: 20vh;
    }

/* Style the button */
button {
    background-color: #007bff; /* Background color */
    color: #fff; /* Text color */
    padding: 10px 20px; /* Padding inside the button */
    border: none; /* Remove the default button border */
    border-radius: 4px; /* Rounded corners */
    font-size: 16px; /* Font size */
    cursor: pointer; /* Add a pointer cursor on hover */
}

/* Style the button on hover */
button:hover {
    background-color: #0056b3; /* Change the background color on hover */
}

/* Style the button on click */
button:active {
    background-color: #003b80; /* Change the background color on click */
}

/* GALLERY VIEWER HORIZONTAL */
/* Gallery container */
.gallery-container {
    position: absolute;
    right: 15vw;
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    width: 100vw;
}

/* Gallery item */
.gallery-item {
    flex: 0 0 100%;
    scroll-snap-align: start;
    min-width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

/* Images in the gallery */
.gallery-item img {
    max-width: 80%;
    max-height: 80%;
    object-fit: contain;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Navigation arrows */
.prev-arrow,
.next-arrow {
    position: absolute;
    top: 50vh;
    width: 40px;
    height: 40px;
   /* background-color: rgba(0, 0, 0, 0.5); */
    color: #000;
    align-items: center;
    line-height: 30px;
    cursor: pointer;
    font-size: 24px;
}

.prev-arrow {
    right: 9vw;
    
}

.next-arrow {
    right: 1vw;
}

/* INFO */
.caption {
    display: none;
}

.show-caption {
    display: block;
    margin: 30px;
}

.caption-button-container {
    display: flex;
    align-items: center;
}

.caption-button {
    margin: 15px; /* Add some spacing between the buttons if desired */
    font-size: 26px; /* Adjust the font size as needed */
    line-height: 20px; /* Adjust the line height as needed */
    vertical-align: middle;
    background: transparent;
    border-radius: 0px;
    border-bottom: 1px solid black;
    color: black;
}

/* Counter */
.counter {
    position: absolute;
    top: 50vh;
    right: 5vw;
   /* background-color: rgba(0, 0, 0, 0.5); */
    color: #000;
    padding: 5px 10px;
    border: 1px solid black;
}

/* GALLERY VIEWER VERTICAL
    See page */

/* Bullets */
.bullet-container {
    position: absolute;
    top: 50vh; /* Adjust positioning */
    right: 5vw;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column; /* Change to vertical direction */
}

.bullet {
    width: 10px;
    height: 10px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid black;
    border-radius: 0%;
    margin: 5px 0; /* Adjust margin */
    cursor: pointer;
}
.bullet.active {
    background-color: #007bff; /* Change this to your desired active color */
}


/* MOBILE VERSION */
@media (max-width: 1024px) {
    body {
        background-size: auto 100%; /* Crop width on small screens */
    }
    
    .pageHeader {
        top: 2vh;
    }
    
    .modelViewer {
        position: absolute;
        top: 200px;
        left: 0px;
    }
        
    .modelViewer-btn {
        position: relative;
        left: 0px;
        top: 10vh;
    }
    
    .prev-arrow,
    .next-arrow {
        display: none;
    }
}
