* {
    margin: 0;
    padding: 0;
}

body {
    font-family: monospace, sans-serif;
    font-size: 11px;
    cursor: crosshair;
    background-color: white;
    box-sizing: inherit;
}

header {
    position: relative;
    top: 5vh;
    right: 5vw;
}

footer {
    position: absolute;
    bottom: 20px;
    right: 5vw;
    text-align: right;
}

button {
    background-color: white;
    border-radius: 2px;
    border: 0.2px solid rgba(0, 0, 0, 0.9);
    padding: 5px;
}

button: hover {
    background-color: #007bff;
}


.ar-button: {
    position: absolute;
    bottom: 5vh;
    left: 5vw;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    color: #007bff;
}

/* Menu */

.menu-container {
    position: relative;
    display: flex;
    z-index: 999;
}

.menu-button{
    position: absolute;
    right: 0px;
    font-size: 20px;
    z-index: 999;
}

.nav-wrapper {
  position: absolute;
  top: 0px;
  right: 5vw;
  overflow: hidden;
  padding: 30px;
  height: 100vh;
  background-color: white;
  border: 0.2px solid black;
  z-index: 999;
}

nav a {
    position: relative;
    text-decoration: none;
    font-size: 1.2em;
    color: #000;
    display: inline-block;
    transition: color 0.1s ease-in-out;
    margin: 10px;
    padding: 10px;
}

nav a:before {
  content: '';
  height: 0;
  position: absolute;
  width: 0.15em;
  background-color: white;
  left: -0.5em;
  transition: all 0.2s ease-in-out;
}
nav a:hover {
  color: blue;
}
nav a:hover:before {
  height: 100%;
}

.heading {
    position: absolute;
    top: 15vh;
    right: -5vw;
    padding: 10px;
    transform: rotate(90deg);
    z-index: 3;
}

/* Gallery */

.gallery-container {
    position: relative;
    display: flex;
    width: 100%;
    height: 100vh;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.gallery-item {
    flex: 0 0 100%;
    scroll-snap-align: start;
    min-width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}


.gallery-item img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.thumb-container {
    position: absolute;
    top: 50vh;
    right: 5vw;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 6;
}

.caption-button {
    position: absolute;
    top: 80vh;
    right: 5vw;
    z-index: 5;
}

.caption-text {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 30%;
    display: none;
    text-align: center;
    padding-top: 20px;
    color: white;
    background-color: gray;
    z-index: 2;
    
}

figure {
  display: table;
}

figcaption {
  display: table-caption;
  caption-side: top;
  position: absolute;
  top: 5vh;
  left: 5vw;
  background-color: white;
  display: none;
}

.prev-arrow {
    transform: translateY(-50%);
    cursor: pointer;
}

.next-arrow {
    transform: translateY(-50%);
    cursor: pointer;
}

/* TABS */

/* Styles for tab buttons */
.tab-button {
}

.tab-button.active {
    background-color: #ccc; /* #007bff; */
}

/* Styles for tab content */
.tab-content {
    display: none;
    overflow: hidden;
}

/* Show the active tab content */
.tab-content.active {
    display: block;
}

.tab-content img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.bullet {
    width: 10px;
    height: 10px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid black;
    border-radius: 0%;
    cursor: pointer;
}
.bullet.active {
    background-color: #007bff;
}



@media only screen and (max-device-width: 1024px) {
    .prev-arrow, 
    .next-arrow {
        display: none;
    }
    
    .caption-button {
        top: 60vh;
    }
}
