body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #000;
    color: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*MENU*/

.menu-btn {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    margin-right: 20px;
    padding:20px;
}

.bar {
    background-color: #fff;
    height: 1px;
    width: 30px;
    transition: 0.4s;
}

.navbar {
    display: none;
    background-color: #fff;
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    z-index: 1;
}

.navbar.active {
    display: block;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar li {
    margin: 10px 0;
    padding-left: 20px;
}

.navbar a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
}

/* Add styles for the cross icon when the menu is active */
.menu-btn.active .bar:nth-child(1) {
    transform: rotate(0deg) translate(-10px, 0px);
}

.menu-btn.active .bar:nth-child(2) {
    opacity: 0;
}

.menu-btn.active .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -5px);
}

/*CONTENT*/

.content {
    padding: 20px;
}

