/* GENERAL */
body {
    font-family: Helvetica, sans-serif;
    margin: 5%;
    padding: 0;
    background-image: url("https://mupoint.github.io/backgImage.png");
    background-size: cover;
}

body, *, .custom-cursor {
  cursor: display;
}


header {
    color: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    right: calc(10% - 15px); /* Center horizontally */
    top: calc(50% - 10px); /* Center vertically */
}

.custom-cursor {
           position: fixed;
           width: 20px;
           height: 20px;
           border-radius: 0%;
           background-color: rgba(100, 60, 30, 0.8); /* Default color (red with 50% opacity) */
           pointer-events: none;
           transform: translate(-50%, -50%);
           mix-blend-mode: difference; /* Make cursor visible over any background */
       }

left-header{
    position: absolute;
    right: calc(10% - 15px);
}


/*MENU*/

.menu-btn {
   /* cursor: pointer; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    margin-right: 10px;
    padding:20px;
}

.bar {
    background-color: #000;
    height: 1px;
    width: 30px;
    transition: 0.4s;
}

.navbar {
    display: none;
    background-color: #fff;
    opacity: 0.8;
    position: absolute;
    top: 60px;
    right: 0;
    width: 200px;
    height: 200px;
    transition: 0.5s;
    z-index: 1;
    
}

.navbar.active {
    display: block;
    top: 0px;
    right: 100px;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar li {
    margin: 10px 0;
    padding-left: 20px;
}

.navbar a {
    text-decoration: none;
    color: #000;
    font-size: 11px;
}

/* Add styles for the cross icon when the menu is active */
.menu-btn.active .bar:nth-child(1) {
    transform: rotate(0deg) translate(-10px, 0px);
}

.menu-btn.active .bar:nth-child(2) {
    opacity: 0;
}

.menu-btn.active .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -5px);
}

/*CONTENT*/

.content {
    padding: 20px;
}

/* MODEL VIEWER */
.modelViewer {
    position: absolute;
    top: 20%;
    left: 40%;
}

.modelViewer-btn{
    position: relative;
    top: 200px;
    }

/* Style the AR buttons */
model-viewer::part(ar-button) {
  background-color: #0078d4; /* Change the background color */
  color: #fff; /* Change the text color */
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  font-size: 16px;
}

/* Style the AR hand button */
model-viewer::part(ar-hand) {
  background-color: #f00; /* Change the background color */
  color: #fff; /* Change the text color */
  border: none;
  border-radius: 50%; /* Make it round */
  width: 40px; /* Set a fixed width */
  height: 40px; /* Set a fixed height */
  font-size: 20px;
  line-height: 40px; /* Vertically center the text */
}
